[flake8]
ignore =
    W503
    I001
    I005
    R503
    E501
exclude =
    */migrations/,
    venv/,
    env/,
    .git,
    */admin.py,
per-file-ignores =
    */settings.py:E501
max-complexity = 10
