{% extends 'base.html' %}
{% block title %} Моя компания | Джуманджи{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
 <style>
    body {
      background-color: #F6F2E6;
    }
  </style>
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link active" href="{%url "my_company" %}">1. Информация о&nbsp;компании</a>
            <a class="nav-link" href="{% url "my_company_vacancies_list" %}">2. Вакансии</a>
          </div>
        </aside>
      </div>

      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
               <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
              {% if messages %}
              {% for message in messages %}
              <p class="alert alert-info" role="alert">
                {{ message|safe }}
              </p>
              {% endfor %}
              {% endif %}
            {% crispy form %}
          </section>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
