{% extends "base.html" %}
{% block content %}

<main class="container mt-3">
    
{% include 'includes/search_section.html' %}



<section class="mt-5 pt-3">
    <h2 class="h2 font-weight-normal text-center mb-5">Вакансии по рубрикам</h2>
        <div class="row mb-0">

        <!-- Карточки специальностей -->

        </div>
</section>


<section class="my-5 pt-3">
    <h2 class="h2 font-weight-normal text-center mb-5">Нам доверяют лучшие компании</h2>
        <div class="row mb-0">

        <!-- Карточки по компаниям -->

        </div>
</section>


</main>
{% endblock %}
