{% extends "base.html" %}
{% block content %}
<main class="container mt-3">
{% include 'includes/search_section.html' with skills=top_5_skills %}
<section class="mt-5 pt-3">
    <h2 class="h2 font-weight-normal text-center mb-5">Вакансии по рубрикам</h2>
        <div class="row mb-0">
               {% for specialty in specialties %}    
            <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <img class="mx-auto d-block" src="../static/specialties/specty_{{ specialty.code }}.png" width="80" height="80" alt="">
            <div class="card-body">
              <p class="card-text mb-2">{{ specialty.title }}</p>
              <p class="card-text"><a href="{% url "specialty" specialty.code %}">{{ specialty.count }} вакансий</a></p>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
</section>
<section class="my-5 pt-3">
    <h2 class="h2 font-weight-normal text-center mb-5">Нам доверяют лучшие компании</h2>
        <div class="row mb-0">
        {% for company in companies %} 
            <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-5 text-center mb-4">
            <a href="#" style="max-width: 150px;" class="mx-auto d-block">
              <img class="mx-auto d-block m-100" src="../static/logos/{{ company.logo }}" width="150" alt="">
            </a>
            <div class="card-body">
              <p class="card-text"><a href="{% url "company" company.id %}">{{ company.count }}</a></p>
            </div>
          </div>
        </div>
        {% endfor %} 
        </div>
</section>
</main>
{% endblock %}

